.btn li a{
    display: inline-block;
    color: #fff;
    border-radius: 6px;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 30px;
    width: 200px;
  }
  .btn{
      list-style: none;
  }
  .btn_inicio a{
    border: 1px solid #fff;
  }
  .btn_registro a{
    background: linear-gradient(180deg, #083963 0%, #3BA9CC 100%);
  }