*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fondo{
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(180deg, #004670 0%, #00D1AC 100%);
    border: 1px solid #00D1AC;
    border-radius: 12px;
    margin: 20px 20px;
}


body{
    background: #070D29;
    font-family: 'Montserrat', sans-serif;
}

.wrap{
    width: cover;
    margin: 0px auto;
}
ul.tabs{
    width: 100%;
    border: 1px solid #00C2FF;
    border-radius: 12px;
    list-style: none;
    display: flex;
}
ul.tabs li a{
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    display: block;
    padding: 20px 0px;
    text-align: center;
    border-right: 1px solid #00C2FF;
    border-left: 1px solid #00C2FF;

}
.img_logo{
    position: relative;
    height: 50%;
    width: 40%;
}
.video1{
    position: relative;
    height: 60%;
    width: 40%;
    float: right;
    margin-right: 10%;
}
.log{
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    display: block;
    padding: 20px 0px;
    text-align: center;
    border-right: 1px solid #00C2FF;
}

ul.tabs li{
    width: 20%;
}

.active{
    border-radius: 6px;
    background: linear-gradient(180deg, #000 36.86%, #004670  100%);
}

.secciones article{
     padding: 10px;
}

.Texto_InicioSesion, .Texto_Registro {
color :white;
text-align:center

}

.Texto_InicioSesion h1, .Texto_Registro h1 {

  margin-top: 100px;
    font-size: 7vh;
    text-align:center
}

.Texto_InicioSesion p, .Texto_Registro p {

    margin-top: 2%; 
    margin-left: 20% ;
    margin-right: 20% ;
    font-size: 4vh;
}

.Panel_InicioSesion b, .Panel_Registro b {
    font-weight: 3000;
}
.Panel_InicioSesion, .Panel_Registro {  
    font-weight: 3000;
  position: absolute; 
 border-radius: 25px;
 background: white;
 padding: 25px; 
 margin: 30px;
 top: 60%; 
 left: 20%; 
 right: 20%;
 transform: translate (-50%, -50%);
   
 }


@media screen and (max-width:  800px ){
    ul.tabs li{
        width: none;
        flex-basis: 0;
        flex-grow: 1;
    }
}
@media screen and (max-width: 665px){
    ul.tabs li a{
        padding: 15px 0px;
    }
    .log{
        display: none;
    }
    .secciones article{
        padding: 20px;
    }
}