*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.fondo{
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(180deg, #004670 0%, #00D1AC 100%);
    border: 1px solid #00D1AC;
    border-radius: 12px;
    margin: 20px 20px;
}


body{
    background: #070D29;
    font-family: 'Montserrat', sans-serif;
}

.wrap{
    width: cover;
    margin: 0px auto;
}
ul.tabs{
    width: 100%;
    border: 1px solid #00C2FF;
    border-radius: 12px;
    list-style: none;
    display: flex;
}
ul.tabs li a{
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 13px;
    display: block;
    padding: 12px 0px;
    text-align: center;
    border-right: 1px solid #00C2FF;
    border-left: 1px solid #00C2FF;

}
.img_logo{
    position: absolute;
    left: 25%;
    top:40%;
    transform: translate(-50%,-50%);
    width: 90vh;
    
}
.video1{
    position: relative;
    height: 60%;
    width: 40%;
    float: right;
    margin-right: 2%;
    margin-top: 10%;
}
.log{
    color: #fff;
    border-radius: 6px;
    font-size: 15px;
    display: block;
    padding: 12px 0px;
    text-align: center;
    border-right: 1px solid #00C2FF;
}

.tabs a:hover {
    background: rgba(255, 255, 255, 0.3);
}

ul.tabs li{
    width: 20%;
}

.active{
    border-radius: 6px;
    background: linear-gradient(180deg, #000 36.86%, #004670  100%);
}

.secciones article{
     padding: 10px;
}


.Texto_InicioSesion, .Texto_Registro {
color :white;
}

.Texto_InicioSesion h1, .Texto_Registro h1 { 

  margin-top: 40px;
    font-size: 6vh;
    text-align: center;
  
}

.Texto_InicioSesion p, .Texto_Registro p {

    margin-top: 2%; 
    border-radius: 25px;
    margin-left: 20% ;
    margin-right: 20% ;
    font-size: 4.3vh;
    text-align: center;
}

.Panel_InicioSesion  {     /* Panel blanco*/

position: absolute; 
 border-radius: 25px;
 background: white;
 padding: 22px; 
 margin-top: 2%;
 margin-bottom: 0%;
 top: 40%; 
 left: 18%; 
 right: 18%;
 border: none; 
 transform: translate (-50%, -50%);
 }

.Panel_Registro  {     /* Panel blanco*/

    position: absolute; 
    
     border-radius: 25px;
     background: white;
     padding: 20px; 
     margin-top: 2%;
     top: 40%; 
     left: 18%; 
     right: 18%;
     border: none; 
     transform: translate (-50%, -50%);
padding-bottom: 0%;
    }

.Panel_InicioSesion a , .Panel_Registro a {   /* Links de ya tienes cuenta?*/
    
 text-decoration: none;
 margin-left: 40%;
 font-size: 90%;

}

.Panel_InicioSesion a:hover , .Panel_Registro a:hover {
    text-decoration: underline;
    
   }

   .Panel_InicioSesion h2   {  /* Frases de Crea tu cuenta e Inicio de sesión*/
    font-size: 3vh;
    font-weight: bold;
    margin-left: 40%;
    padding-bottom: 2%;
    
   }

   .Panel_Registro h2 {  /* Frases de Crea tu cuenta e Inicio de sesión*/
    font-size: 2.8vh;
    font-weight: bold;
    margin-left: 40%;
    padding-bottom: 2%;
    
   }

   .Panel_InicioSesion .boton , .Panel_Registro .boton {   /* Botones azules*/
       font-size: 3vh;
     border-radius: 20px;
      width: 27%;
      padding: 0.6%;
      border: none; 
      color: white; 
      background-color: #18A0FB;
      margin-left: 36%;
      

   }
.controls {       /* Cajas de formatos*/
width: 70%;
border-radius: 30px;
padding: 1.2%;
border-color:  rgb(0, 0, 0, 0.5);
border-width: 5%;
margin-left:15%;

}
.controlsr1Nombre {            /* Cajas de formatos de nombre y apellido del registro*/
    width: 29%;
    border-radius: 30px;
    padding: 0.5%;
    border-color: rgb(0, 0, 0, 0.5);
    margin-left: 20%;
    
    }

    .controlsr1Apellido {            /* Cajas de formatos de nombre y apellido del registro*/
        width: 29%;
        border-radius: 30px;
        padding: 0.5%;
        border-color: rgb(0, 0, 0, 0.5);
        margin-left: 1%;
        
        }

    .controlsr {            /* Cajas de formatos de nombre y apellido del registro*/
        width: 60%;
        border-radius: 30px;
        padding: 0.5%;
        border-color: rgb(0, 0, 0, 0.5);
        margin-left: 20%;
        }


        #pc 
        {
        position: relative;
        width: 500px;
        height: 500px;
        transform: translate(80%,-50%);
        
        }

        model-viewer 
        {
            position: absolute;
            width: 90%;
            height: 90%;
            top: 35%; 
        }



#textoarea{
position: absolute;
color: white; 
width: 100%;
font-family: Montserrat;
font-weight: bold;
font-size: 40px;

top: 118%;
}




@media screen and (max-width:  800px ){
    ul.tabs li{
        width: none;
        flex-basis: 0;
        flex-grow: 1;
    }
    li.btn_inicio{
        position: absolute;
        left: 50%;
        top:80%;
        transform: translate(-50%,-50%);
    }
    li.btn_registro{
        position: absolute;
        left: 50%;
        top:90%;
        transform: translate(-50%,-50%);
    }
    img.img_logo{
        position: absolute;
        left: 50%;
        top:20%;
        transform: translate(-50%,-50%);
        width: 50vh;
        

    }
}
@media screen and (max-width: 665px){
    ul.tabs li a{
        padding: 15px 0px;
    }
    .log{
        display: none;
    }
    .secciones article{
        padding: 20px;
    }
  
}

@media screen and (max-width:  665px ){

    .Panel_InicioSesion , .Panel_Registro 
    {

    width: 50%;
    left:50%;
    top:70%;
    transform: translate(-50%,-50%);
    padding-bottom: 1%;
    }
    .Texto_InicioSesion h1, .Texto_Registro h1
    {
     margin-top: 15px;
    font-size: 5vh;
    text-align: center;

    }
    .Texto_InicioSesion p, .Texto_Registro p
    {
        margin-top: 10px;
       font-size: 3vh;
    }

    .Panel_InicioSesion a , .Panel_Registro a 
    {
        margin-left: 10%;
        font-size: 60%;
      margin-right: 10%;
    }

    .Panel_InicioSesion h2
    {
        font-size: 2vh;  
        margin-left: 15%;
        margin-right: 10%;
       
    }
    .Panel_Registro h2
    {
        font-size: 1.8vh;  
        margin-left: 12%;
        margin-right: 12%;
       
    }

    .Panel_InicioSesion .boton , .Panel_Registro .boton {   /* Botones azules*/
        font-size: 2vh;
      
       width: 80%;
       margin-left: 10%;
       padding: 2%;
      
    }

    .controls
   {

    width: 100%;
    margin-left:3%;

    }
    .controlsr
    {

        width: 100%;
    margin-left:3%;
    font-size: 70%; 
    padding: 2%;
    }
.controlsr1Apellido, .controlsr1Nombre
{
    width: 100%;
    margin-left:3%;
    font-size: 70%; 
    padding: 2%;
    margin-top: 10%;
}

}

.img_logoM{
   
    
    top:40%;
    transform: translate(50%,0%);
    width: 100vh;
    
}



.cubo1{
    position: absolute;
    width: 404px;
    height: 404px;
    left: 519px;
    opacity: 0.8;
    filter: drop-shadow(6px 4px 4px rgba(0, 0, 0, 0.25))
}

.nombredeaerea{
position: absolute;
width: 483px;
height: 59px;
left: 467px;
top: 778px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 108px;
line-height: 59px;
/* identical to box height */
}
.centrartexto{
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.015em;

color: #FFFFFF;
}